.ed {
    display: flex;
    background-color: black;
    padding-left: 10vw;
    padding-top: 10vh;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

img {
    width: 15vw;
}

h3 {
    font-size: 1.4rem;
    font-weight: bolder;
}

h4 {
    font-size: 1.3rem;
    font-style: italic;
}

p {
    max-width: 50vw;
}

@media only screen and (max-width: 1075px) {
    .ed {
        padding-left: 0;
        padding: 3vw;
    }
    img {
        width: 25vw;
    }

    p {
        max-width: none;
    }
    
}

@media only screen and (max-width: 600px) {
    .ed {
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5vw;
    }
    img {
        width: 25vw;
    }

    p {
        max-width: fit-content;
    }
    
}