<div class="alltech">
    <div class="card front-end">
        <h2>Front End</h2>
        <ul>
            <li><img src="../../assets/programing.png" alt="">Angular</li>
            <li><img src="../../assets/atom.png" alt="">React</li>
            <li><img src="../../assets/typescript.png" alt="">Typescript</li>
            <li><img src="../../assets/java-script-logo.png" alt="">Javascript</li>
            <li><img src="../../assets/bootstrap.png" alt="">Bootstrap</li>
            <li><img src="../../assets/icons8-tailwind-css-64.png" alt="">Tailwind</li>
            <li><img src="../../assets/html.png" alt="">HTML</li>
            <li><img src="../../assets/css-3.png" alt="">CSS</li>
        </ul>
    </div>
    <div class="card backend">
        <h2>Back End</h2>
        <ul>
            <li><img src="../../assets/java.png" alt="">Java</li>
            <li><img src="../../assets/python.png" alt="">Python</li>
            <li><img src="../../assets/microsoft-access.png" alt="">Microsoft Access</li>
            <ol class="other">
                <li>Other:</li>
                <li>SpringBoot</li>
                <li>SQL</li>
                <li>RESTful APIs</li>
            </ol>
        </ul>
    </div>
    <div class="card skills">
        <h2>Tools</h2>
        <ul>
            <li><img src="../../assets/office.png" alt="">Microsoft Office</li>
            
            <li><img src="../../assets/logo.png" alt="">VS Code</li>

            <li><img src="../../assets/sql-server.png" alt="">MySQL</li>
            <ol class="other">
                <li>Other:</li>
                <li>IntelliJ</li>
                <li>Excel</li>
            </ol>
        </ul>
    </div>
</div>
