<nav class="flex justify-between">
  <a class="" href="">{{ websiteTitle }}</a>
  <div
    class="navbar__toggle"
    id="mobile-menu"
    class="{{ mobileM }}"
    (click)="mobile()"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="flex gap-5 navbar_menu {{ mobileMenu }}">
    <li class="nav-item" class="navbar__item" (click)="mobile()">
      <a class="nav-link" (click)="this.scroller.scrollToPosition([0, 0])">Home</a>
    </li>
    <li class="nav-item" class="navbar__item" (click)="mobile()">
      <a class="nav-link" (click)="this.ScrollserviceService.goTo('Projects')">Projects</a>
    </li>
    <li class="nav-item" class="navbar__item" (click)="mobile()">
      <a class="nav-link" (click)="this.ScrollserviceService.goTo('Experience')">Experience</a>
    </li>
    <li class="nav-item" class="navbar__item" (click)="mobile()">
      <a class="nav-link" (click)="this.ScrollserviceService.goTo('Education')">Education</a>
    </li>
    <li class="nav-item" class="navbar__item" (click)="mobile()">
      <a class="nav-link" (click)="this.ScrollserviceService.goTo('About Me')">About Me</a>
    </li>
    <button class="btn" id="resume_btn" ><a href="assets\Luis Calderon Resume.pdf" download="Luis Calderon Resume.pdf" >Resume/CV</a></button>
  </ul>
</nav>
