<nav class="flex justify-between p-[3vh]">
    <a class="" href="">{{websiteTitle}}</a>
    <ul class="flex gap-5">
        <li><a (click)="this.scroller.scrollToPosition([0,0])">Home</a></li>
        <li><a (click)="this.ScrollserviceService.goTo('Projects')">Projects</a></li>
        <li><a (click)="this.ScrollserviceService.goTo('Experience')">Experience</a></li>
        <li><a (click)="this.ScrollserviceService.goTo('Education')">Education</a></li>
        <li><a (click)="this.ScrollserviceService.goTo('About Me')">About Me</a></li>
    </ul>
    <button>DOWNLOAD RESUME</button>
</nav>
