<div class="experiences">
    <div class="card">
        <p-timeline [value]="experiences" class="cards">
            <ng-template pTemplate="content" let-experience class="cards">
                <p-card class="cards" [header]="experience.job" [subheader]="experience.Company">
                    <p>{{experience.skills}}</p>
                    <ul>
                        <li *ngFor="let item of experience.description">
                            {{item}}
                        </li>
                    </ul>
                </p-card>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
                <h4>{{event.date}}</h4>
            </ng-template>
        </p-timeline>
    </div>
</div>