.experiences {
    height: auto;
    background-image:radial-gradient(black, rgba(0, 0, 0, 0.43), rgba(255, 255, 255, 0), black),
    url('src/assets/background_1.png'), 
    linear-gradient(
        rgb(0, 0, 0), rgb(0, 0, 0),rgb(0, 0, 0)); 
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0 !important;
    padding: 3vh 3vw;
}

.exp {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
    height: auto;
    padding: 3vh 0;
}

h3 {
    font-weight: bold;
    font-size: 1.85rem;
}

.skills {
    font-style: italic;
}


ul {
    font-size: 1rem;
    list-style-type: disc;
    padding-left: 2vw;
}

li {
    font-size: 0.9rem;
}

::ng-deep .p-timeline-event {
    display: flex;
    flex-direction: row;
    position: static !important;
    gap: 1vh;
}
::ng-deep .p-timeline {
    gap: 3vh;
}
::ng-deep .p-timeline-event-opposite {
    flex: 0;
}

::ng-deep .p-timeline-event-content {
    width: 60vw;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px;
}


@media only screen and (max-width: 1075px) {

    ::ng-deep .p-timeline-event-content {
        width: 80vw !important;
    }
    ::ng-deep .p-timeline-event-opposite {
        display: none !important;
    }

    ::ng-deep .p-card-title {
        font-size: 1.2rem;
    }

    ::ng-deep .p-card-content {
        font-size: 1rem;
        padding: 0;
    }

    ::ng-deep .p-timeline-event-separator {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    ::ng-deep .p-timeline-event-content {
        width: 95vw !important;
    }
    
}