<div class="projects" id="Projects">
    <div class="card">
        <img src="/assets/IMG_0420.JPG" alt="" class="web_img">
        <div class="info_card">
            <h2>LEE MANOR - Rehabilitation Center</h2>
            <p class="desc">Designed and developed a modern, user-friendly website for Lee Manor Rehabilitation Center, enhancing accessibility and engagement for residents and their families. Integrated a seamless contact form, Google Maps API, and email handling system to improve communication. Focused on responsive design, usability, and a polished user experience.</p>
            <div class="icons">
                <ul>
                    <li><img src="assets/atom.png" alt=""></li>
                    <li><img src="assets/html.png" alt=""></li>
                    <li><img src="assets/css-3.png" alt=""></li>
                </ul>
                <a class="github_link" href="">
                    <p class="viewGit">View on Github</p>
                    <img src="assets/github-icon-2.svg" alt="" class="github_icon_mini">
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="/assets/IMG_0420.JPG" alt="" class="web_img">
        <div class="info_card">
            <h2>LEE MANOR - Rehabilitation Center</h2>
            <p class="desc">Developed OnlyPokies, an e-commerce platform for Pokémon card collectors, featuring a sleek, responsive design and intuitive shopping experience. Implemented secure payment processing, dynamic product listings, and a streamlined checkout process to enhance user engagement. Optimized for performance and SEO to attract and retain customers.</p>
            <div class="icons">
                <ul>
                    <li><img src="assets/atom.png" alt=""></li>
                    <li><img src="assets/html.png" alt=""></li>
                    <li><img src="assets/css-3.png" alt=""></li>
                </ul>
                <a class="github_link" href="">
                    <p class="viewGit">View on Github</p>
                    <img src="assets/github-icon-2.svg" alt="" class="github_icon_mini">
                </a>
            </div>
        </div>
    </div>
</div>
