<div class="projects" id="Projects">
    <div class="card">
        <div class="web_img web_img_1">
            <a class="live_link" href="https://leemanor.com/" target=" ">SEE LIVE</a>
        </div>
        
        <div class="info_card">
            <h2>LEE MANOR - Rehabilitation Center</h2>
            <p class="desc">Designed and developed a modern, user-friendly website for Lee Manor Rehabilitation Center, enhancing accessibility and engagement for residents and their families. Integrated a seamless contact form, Google Maps API, and email handling system to improve communication. Focused on responsive design, usability, and a polished user experience.</p>
            <div class="icons">
                <ul>
                    <li><img src="assets/atom.png" alt=""></li>
                    <li><img src="assets/java-script-logo.png" alt=""></li>
                    <li><img src="assets\icons8-tailwind-css-64.png" alt=""></li>
                    <li><img src="assets/css-3.png" alt=""></li>
                </ul>
                <!-- <a class="github_link" href="">
                    <p class="viewGit">View on Github</p>
                    <img src="assets/github-icon-2.svg" alt="" class="github_icon_mini">
                </a> -->
            </div>
        </div>
    </div>
    <div class="card_odd">
        <div class="web_img web_img_2">
            <a class="live_link" href="http://only-pokies.com/" target=" ">SEE LIVE</a>
        </div>
        <div class="info_card_odd">
            <h2>ONLY POKIES - E-commerce Store</h2>
            <p class="desc">Developed OnlyPokies, an e-commerce platform for Pokémon card collectors, featuring a sleek, responsive design and intuitive shopping experience. Implemented secure payment processing, dynamic product listings, and a streamlined checkout process to enhance user engagement. Optimized for performance and SEO to attract and retain customers.</p>
            <div class="icons">
                <ul>
                    <li><img src="assets/programing.png" alt=""></li>
                    <li><img src="assets/typescript.png" alt=""></li>
                    <li><img src="assets/java.png" alt=""></li>
                    <li><img src="assets/bootstrap.png" alt=""></li>
                    <li><img src="assets/sql-server.png" alt=""></li>
                </ul>
                <!-- <a class="github_link" href="">
                    <p class="viewGit">View on Github</p>
                    <img src="assets/github-icon-2.svg" alt="" class="github_icon_mini">
                </a> -->
            </div>
        </div>
    </div>
    <div class="card">
        <div class="web_img web_img_3">
            <a class="live_link" href="https://dental-template.netlify.app/" target=" ">SEE LIVE</a>
        </div>
        <div class="info_card">
            <h2>SMILE CRAFT - Dental Website</h2>
            <p class="desc">Created SmileCraft, a professional and user-friendly dental office website template designed for seamless patient engagement. Integrated appointment booking, service pages, and a responsive design for optimal accessibility. Focused on clean aesthetics, intuitive navigation, and SEO optimization to enhance online visibility.</p>
            <div class="icons">
                <ul>
                    <li><img src="assets/atom.png" alt=""></li>
                    <li><img src="assets/java-script-logo.png" alt=""></li>
                    <li><img src="assets/html.png" alt=""></li>
                    <li><img src="assets/css-3.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card_odd">
        <div class="web_img web_img_4">
            <a class="live_link" href="https://luiscldrn.github.io/calculator-app/" target=" ">SEE LIVE</a>
        </div>
        <div class="info_card_odd">
            <h2>IVIG Infusion Calculator - CVS</h2>
            <p class="desc">Developed an IVIG Dosage Infusion Calculator to streamline prescription entry at CVS, improving accuracy and efficiency for healthcare professionals. Designed with a user-friendly interface, automated calculations, and responsive functionality to ensure quick and reliable dosage determinations. Optimized for seamless integration into pharmacy workflows.</p>
            <div class="icons">
                <ul>
                    <li><img src="assets/programing.png" alt=""></li>
                    <li><img src="assets/typescript.png" alt=""></li>
                    <li><img src="assets/html.png" alt=""></li>
                    <li><img src="assets/css-3.png" alt=""></li>
                </ul>
                <!-- <a class="github_link" href="">
                    <p class="viewGit">View on Github</p>
                    <img src="assets/github-icon-2.svg" alt="" class="github_icon_mini">
                </a> -->
            </div>
        </div>
    </div>
</div>
